
#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
     width: 15%; 
    background-color: saddlebrown;
    height: 100%; 
    position: fixed; 
    overflow: auto; 
}

#navlink {
    background-color: sienna;
}

a:hover {
    color: wheat;
}

a {
    text-decoration: none;
    color: goldenrod;
    font-family: 'Merienda', cursive;
    font-size: 50px;
}

h1 {
    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 60px;
    color: goldenrod;
    background-color: saddlebrown;
}

#MainTitle {
    font-family: 'Merienda', cursive;
    text-align: center;
}