
#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
     width: 25%; 
    background-color: saddlebrown;
    height: 100%; 
    position: fixed; 
    overflow: auto; 
}

#navlink {
    background-color: sienna;
}

a:hover {
    color:  goldenrod;
    font-size: 110%;
}

a {
    text-decoration: none;
    color: goldenrod;
    font-family: 'Merienda', cursive;
    font-size: 50px;
}

h1 {
    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 60px;
    color: goldenrod;
    background-color: saddlebrown;
}

#MainTitle {
    font-family: 'Merienda', cursive;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}